extends layout

block content
  h1= 'List of contents:'
  h2= 'Resources'
  ul
    li
      a(href='/phoria') Phoria.js
    li
      a(href='https://www.zhangguangda.com/pastebin') Pastebin
    li
      a(href='https://chat.zhangguangda.com/') Chatroom
    li
      a(href='https://games.zhangguangda.com/') Games

  h2= 'API'
  ul
    li
      a(href='/home_ip') Home IP
